.home {
    margin: 0;
    padding: 0 20px 20px;
    text-align: center;
}

.extend {
    background-color: red;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}
